.contenedor {
  background-color: #111;
  /* background-image: url('../img/teclado.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 150vh;

}

.aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2%;
  background-color: rgba(59, 59, 59, 0.074);
  width: 50%;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #05e0f8;
}

.aboutme h3 {
  color: #05e0f8;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: justify;
}

.aboutme p {
  font-size: 18px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-align: justify;
  line-height: 35px;
}

.aboutme button {
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0.8em 1.8em;
  border: 2px solid #1704e8;
  position: relative;
  overflow: hidden;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  transition: 0.3s;
  z-index: 1;
  font-family: 'Orbitron', sans-serif;
  color: #17c3b2;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
}

.aboutme button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(15deg);
  background: #05e0f8;
  transition: 1.5s ease;
  display: block;
  z-index: -1;
}

.aboutme button:hover::before {
  width: 205%;
}

.aboutme button:hover {
  color: #111;
  box-shadow: #05e0f871 5px 5px 5px;
  border: 2px solid #05e0f8;
}

.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  text-align: center;

}

.fotos .logohenry {
  width: 90%;
  height: 90%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;


}

.fotos .certificado {
  width: 60%;
  height: 60%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}



@media (max-width: 500px) {
  .contenedor {
    background-color: #111;
    /* background-image: url('../img/teclado.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 150vh;

  }

  .aboutme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2%;
    background-color: rgba(59, 59, 59, 0.074);
    width: 80%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #05e0f8;
  }

  .aboutme h3 {
    color: #05e0f8;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .aboutme p {
    font-size: 12px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
    line-height: 25px;
    padding-top: 20px;
  }

  .aboutme button {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0.6em 1.4em;
    border: 2px solid #1704e8;
    position: relative;
    overflow: hidden;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    transition: 0.3s;
    z-index: 1;
    font-family: 'Orbitron', sans-serif;
    color: #17c3b2;
    border-radius: 0px;
    width: 150px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
  }

  .fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }

  .fotos .logohenry {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;


  }

  .fotos .certificado {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}